.clockWrapper {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  .clock {
    font-size: 9em;
    text-align: center;
  }
  .greetings {
    font-size: 3em;

    .userName {
      font-size: 1rem;
      all: unset;
      border-bottom: 2px solid #fff;
      line-height: 40px;
      text-align: center;
      &.inputBoxisHidden {
        display: none;
      }
    }
    .savedName {
      display: none;
      text-align: left;
    }
  }
}
